@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root
{
    --bg-black-900:#1a1a1a; 
    --bg-black-100:#45609c;
    --bg-black-50:#2c3757;
    --text-black-900:#ffffff;
    --text-black-700:#eeeeee;


}
body{
    
    line-height:1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    outline:none;
    text-decoration: none;
    box-sizing: border-box;
}

::before, ::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}


.section
{
    background:var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 15px 0;
    margin: 0;
    opacity: 1;
    left: 0;
    /* position: fixed;
    left: 270px;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden; */
}
/* .section.back-section
{
    z-index: 1;
    
} */
.section.active
{
    z-index: 2;
    opacity: 1;
    
}

/* .hidden
{
    display: none !important;

} */
/* .main-content
{
    padding-left:270px ;
} */
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.container
{
    max-width: 1100px;
    width: 100%;
    margin:auto;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    
        font-family: "Cormorant", serif; /* Example font */
        font-size: 2.5rem; /* Example size */
        color: #ff007a; /* Example color */
        margin-bottom: 20px; /* Space below the title */
        text-align: center; /* Center-aligned titles */
     
      
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700 ;
    position: relative;

}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color : var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;

}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color : var(--skin-color);
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;

}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color:white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap ;
    border: none;
    background: var(--skin-color);
    transition: all 0.3 ease;

}
.btn::hover
{
    transform: scale(1.5);
}
/*aside*/
/* .aside
{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0; 
    padding:30px;
    height:100%;
    display: flex;
    border-right: 1px solid var(--bg-black-50) ;
    justify-content: center;
    align-items: center;
    z-index: 10;



}
.aside .logo
{
    position: absolute;
    top:20px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    
    padding :15px 2;
    font-size: 30px;
    letter-spacing: 3.5px;
    position: relative;
}
.aside .logo .a span
{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;

}
.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: -10px;
    left: -10px;
}

.aside .logo a::after
{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: -10px;
    right: -10px;
}
.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background:  var(--bg-black-100);
     */
    /* display: flex; /* Make sure it's always flex to keep items centered */
    /* justify-content: center; /* Center the toggler lines horizontally */
    /* align-items: center; /* Center the toggler lines vertically */
    /* position: fixed; */
/* }


.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before{
    content: '';
    height:2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;

}

.aside .nav-toggler span::after{
    content: '';
    height:2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
    
}
.aside .nav
{
    margin-top: 50px;
}

.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a
{
    font-size:  16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active
{
    color: var(--skin-color);

}

.aside .nav li a i 
{
    margin-right: 15px;
}
*/
.home{
    /* min-height: 100vh; */
    display: flex;
    color: var(--text-black-700);
}
.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;

}
h3.hello
{
    font-size: 50px;
    margin: 15px 0;
}
h3.hello span
{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight:700;
    color: var(--skin-color);

}

h3.myprofession
{
    font-size: 45px;
    margin: 15px 0;

}
h3.welcome
{
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}
.scroll-down
{
    height: 70px;
    width: 30px;
    border: 2px solid rgb(255, 255, 255);
    
    left: 50%;
    bottom: 0px;
    border-radius: 50px;
    position: absolute;

    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}
.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid rgb(255, 255, 255);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after
{
    top: 30%;
    animation-delay: .3s;
}
@keyframes scroll-down {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        top: 90%;
    }
}


.education .education-content .class-info .class-item p {
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Ensures that the overflow text is hidden */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows the container width */
}

.typing
{
    color: var(--skin-color);
}
.home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;

}
.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom:-40px;

}

.home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 20px;
    top:-40px;

}
.home .home-img img
{
    margin:auto;
    border-radius: 5px;;
    height: 400px;
}
.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 33px;
    margin-bottom:15px;
    font-weight: 700px;
    color: var(--skin-color);
}
.about .about-content .about-text h3 span
{
    color: var(--skin-color);

}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);

}

.about .about-content .personal-info
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
    
}


.about .about-content .personal-info h3
{
    font-size: 20px;
    color: var(--text-black-900);
    
    position: absolute;

}
.about .about-content .personal-info h3::before{
    content: '';
    height: 4px;
    width: 70px;
    background-color : var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;

}
/* .about .about-content .personal-info h3::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color : var(--skin-color);
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-top: 8px;
} */

.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--text-black-700);

}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left:4px;
    display : inline-block;


}
/* .about .about-content .personal-info .buttons
{
    margin-top:30px;

}
.about .about-content .personal-info .buttons .btn
{
    margin-right:15px;
    margin-top: 10px;

} */

.about .about-content .skills
{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
    margin-bottom: 25px;
}
.about .about-content .skills h3
{
    font-size: 20px;
    color: var(--text-black-900);
    
    position: absolute;

}
.about .about-content .skills h3::before{
    content: '';
    height: 4px;
    width: 70px;
    background-color : var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.about .about-content .skills .skills-item
{
    
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--text-black-700);

}
.about .about-content .skills .skills-item h5
{
    margin-top: 30px;
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-700);
    text-transform:capitalize;
}
.about .about-content .skills .skills-item .progress
{
    background-color: var(--bg-black-100);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
       
}
.about .about-content .skills .skills-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skills .skills-item .skill-percent{
    position: absolute;
    right: 0;
    color: var(--text-black-700);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}


.about .about-content .skills  .Language h3
{
    font-size: 20px;
    color: var(--text-black-900);
    margin-bottom: 30px;
    position: absolute;

}
.about .about-content .skills .Language h3::before{
    content: '';
    height: 4px;
    width: 70px;
    background-color : var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.about .about-content .skills .Language .language-item
{
    
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--text-black-700);

}
.about .about-content .skills  .Language .language-item h5
{
    margin-top: 30px;
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-700);
    text-transform:capitalize;
}
/* 
.about .about-content .education, .about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;

}
.about .about-content .timeline{
    background-color: var(--);
} */

.education .education-content
{
    flex: 0 0 100%;
    max-width: 100%;
}

.education .education-content .class-info
{
    display: flex;
    flex-wrap: nowrap; /* Prevents the items from wrapping */
    overflow-x: auto; /* Enables horizontal scrolling */
    margin-top: 40px;
}

.education .education-content .class-info h3
{
    
    
    font-size: 30px;
    color: var(--text-black-900);
    
    position: relative;

}
.education .education-content .class-info h3::before{
    content: '';
    height: 4px;
    width: 70px;
    background-color : var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;

}


/* .about .about-content .personal-info h3::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color : var(--skin-color);
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-top: 8px;
} */

.education .education-content .class-info .class-item
{
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--text-black-700);
}
.education .education-content .class-info .class-item p{
    
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-700);
    text-transform:capitalize;

}


.project .project-heading
{
    flex: 0 0 100%;
    max-width: 100%;

}
.project .project-heading h2
{
    color: var(--text-black-700);
    font-weight: 500;
    font-size: xx-large;
}
.contact .contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact .contact-sub-title{
    color: var(--text-black-700);
    font-weight: 500;
    text-align: center;
    font-size: x-large;
    margin-bottom: 25px;
}
.contact .contact-form
{
    flex:0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: var(--text-black-700);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--bg-black-900);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}

.fade-in {
    opacity: 0;
    transition: opacity 1000ms ease-in;
  }
  
  .fade-in.appear {
    opacity: 1;
  }

@media (max-width:1199px){
    
    .main-content{
        padding-left: 0;
    }
   
    
    .about .about-content .personal-info .info-item p span
    {
        display:block;
        margin-left: 0;

    }
}

@media (max-width:991px){
    .project .project-item,
    .contact .contact-info-item{
        flex: 0 0 50%;
        
        max-width: 50%;

    }
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .home .home-img
    {
        display: none;
    }
}

@media (max-width: 767px){
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .project .project-item,
    .about  .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.triangle-separator {
    position: absolute; /* Ensure there's a relative container if needed */
    left: 50%;
    transform: translateX(-50%); /* Horizontally center */
    background-color: var( --bg-black-900);
    width: 100%; /* Take full width if you're centering the content */
    text-align: center; /* Center the text/content */
    margin-bottom: 10px;
  }
  
  .triangle-separator::before {
    content: '✧✧✧'; /* Three symbols */
    font-size: 20px;
    color: var(--text-black-700); /* Ensure this variable is defined */
    display: inline-block; /* Treat content block as inline for text-align to work */
    background-color: var( --bg-black-900);
  }
  

  #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EBF2F5;
    z-index: 9999; /* Ensure it's above other content */
}
  .animationWindow.body {
    background-color: #EBF2F5;
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
   }
   
   .animationWindow.html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
   }
   
   #animationWindow {
    width: 100%;
    height: 100%;
   }
/*  ----- Form ----- */
form {}
fieldset {
  border: 2px solid var(c);
  margin-top: 1%;
  padding: 2%;
}
  legend {
    color: var(--sky);
    font-size: 110%;
    font-weight: bold;
  }
label {
  display: block;
  margin-top: 3%;
}
button, input, select, textarea {
  font-size: 110%;
  padding: 2%;
  font-family: inherit;
}
button{
  border-right: 3px solid var(--text-black-900);
  border-radius: 0 3px 3px 0;
  background-color: var(--text-black-700);
  color: var(--text-black-700);
}
button:hover{
  color: var(--text-black-900);
  background-color: var(--text-black-700);
}
input[type="text"],
input[type="email"],
textarea{width: 95%;}
textarea{
  height: 200px;
}

select{
  color: var(--darksky);
}
:focus{background-color: var(--greysky);}
*::placeholder{
  color: var(--lightPurple);
  font-size: 80%;

}
*:required{
  border: 2px solid green;

}
label.required:after{
  content: "*";
  color: red;
}

input[type=checkbox]:checked + label{
  color: green;
}